<%# app/views/usermodule/addresses/_form.html.erb %>
<%= form_with(model: [:usermodule, @address], local: true) do |form| %>
  <% if @address.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>
      <ul>
        <% @address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-wrapper" data-controller="location">
    <div class="grid grid-cols-1 gap-6">
      <div class="field">
        <%= form.label :first_name %>
        <%= form.text_field :first_name, class: "form-input mt-1 block w-full" %>
      </div>

      <div class="field">
        <%= form.label :last_name %>
        <%= form.text_field :last_name, class: "form-input mt-1 block w-full" %>
      </div>

      <div class="field">
        <%= form.label :building_name %>
        <%= form.text_field :building_name, class: "form-input mt-1 block w-full" %>
      </div>

      <div class="field">
        <%= form.label :street_address %>
        <%= form.text_field :street_address, class: "form-input mt-1 block w-full" %>
      </div>

      <div class="field">
        <%= form.label :country %>
        <%= form.select :country_id, 
            @countries.pluck(:name, :id), 
            { prompt: 'Select Country' }, 
            { 
              class: "form-select mt-1 block w-full",
              data: { 
                location_target: "country",
                action: "change->location#updateStates"
              }
            } 
        %>
      </div>

      <div class="field">
        <%= form.label :state %>
        <%= form.select :state_id, 
            @states.map { |s| [s.name, s.id] },
            { prompt: 'Select State' }, 
            { 
              class: "form-select mt-1 block w-full",
              data: { 
                location_target: "state",
                action: "change->location#updateCities"
              }
            } 
        %>
      </div>

      <div class="field">
        <%= form.label :city %>
        <%= form.select :city_id, 
            @cities.map { |c| [c.name, c.id] },
            { prompt: 'Select City' }, 
            { 
              class: "form-select mt-1 block w-full",
              data: { location_target: "city" }
            } 
        %>
      </div>

      <div class="field">
        <%= form.label :phone %>
        <%= form.text_field :phone, class: "form-input mt-1 block w-full" %>
      </div>
    </div>

    <div class="mt-6">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>