<p style="color: green"><%= notice %></p>

<% content_for :title, "Addresses" %>

<h1>Addresses</h1>

<div id="admin_addresses">
  <% @addresses.each do |address| %>
    <%= render address %>
    <p>
      <%= link_to "Show this address", usermodule_address_path(address), class: "btn btn-primary btn-sm" %>
      <%= button_to "Destroy this address", usermodule_address_path(address), 
                    method: :delete, 
                    class: "btn btn-danger btn-sm", 
                    data: { confirm: "Are you sure you want to delete this address?" } %>
    </p>
  <% end %>
</div>

<div class="mt-4">
  <%= link_to "New Address", new_usermodule_address_path, class: "btn btn-success" %>
</div>
