<p style="color: green"><%= notice %></p>

<%= render @address %>

<div>
  <%= link_to "Edit this address", edit_usermodule_address_path(@address) %>
  |
  <%= link_to "Back to addresses", usermodule_addresses_path %>

  <%= button_to "Destroy this address", usermodule_address_path(@address), method: :delete %>
</div>
</div>
